#github prof1.jpg {
    size: 55px;
}

body {
    background-image: https://images.unsplash.com/photo-1546587348-d12660c30c50?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8bmF0dXJhbHxlbnwwfHwwfHw%3D&w=1000&q=80("gradient_bg.jpg");
    background-repeat: repeat-x;
  }